@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: -apple-system, 'Raleway', serif;
    font-size: 1.5rem;
    color: #4a1304;
}

.adjust-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0.4;
    height: 20vh;
    transition: opacity 0.3s ease-out;
}

.adjust {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #4a1304;
}

.icon {
    height: 30px;
    width: 30px;
}

input[type=number] {
    font-family: -apple-system, 'Raleway', serif;
    text-align: end;
    display: block;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    width: 50px;
    margin: 0 0 0 5px;
    font-size: 1.5rem;
    color: #4a1304;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    padding: 0 0 30px 0;
}

.steps * {
    opacity: 0.4;
    transition: opacity 0.3s ease-out;
}

#timerContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}
#timer {
    z-index: 200;
    font-weight: 100;
    font-size: 3.5rem;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.background {
    position: fixed;
    z-index: -100;
    margin-top: 20px;
    left: -5px;
    right: -5px;
    bottom: -10px;
}

.active {
    opacity: 1;
}